.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas {
  background-color: #D9D9D9;
  border-right: 2px solid #BEBEBE;
}

.view-box {
  position: relative;
  float: left;
  width: 50%;
}

.box-setup {
  padding: 10px;
  background-color: #EBEBEB;
  height: 100%;
}

.json-textarea {
  width: 100%;
  height: 300px;
}

.prop-input {
  margin-left: 10px;
  width: 129px;
}

ul.Tree li {
  margin-left: 20px;
}
